<!-- <form (ngSubmit)="login()">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" [(ngModel)]="username">
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" [(ngModel)]="password">
  <br>
  <button type="submit">Login</button>
</form> -->

<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login</mat-toolbar>
    <form class="example-form" fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()" >
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="userName">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Login</button>
    </form>
  </mat-card>
</div>